<main class="main-container">
  <div class="container-1">
    <h1>Main content</h1>
    <p class="c-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vero
      delectus non illo voluptas nostrum repudiandae repellat animi nesciunt
      architecto?
    </p>
  </div>

  <div class="container-2">
    <div class="content-1">
      <h2>Left content</h2>
      <p class="c-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint error ab
        dolorum maiores voluptatem laboriosam obcaecati? Modi, iure laudantium!
        Veritatis!
      </p>
    </div>
    <div class="content-2">
      <h2>Middle content</h2>
      <p class="c-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis quas
        assumenda ad dolore voluptas maiores ullam optio adipisci reiciendis
        placeat.
      </p>
    </div>
    <div class="content-3">
      <h2>Right content</h2>
      <p class="c-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias minima
        rerum nesciunt fuga suscipit maiores nemo quibusdam deleniti facere?
        Voluptates modi blanditiis iusto corporis? Temporibus incidunt deleniti
        quibusdam fuga corrupti. 2
      </p>
    </div>
  </div>

  <div class="footer">
    <p>{{ author }} - {{ date }}</p>
    <p>All rights reserved</p>
  </div>
</main>
